@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center jumbotron">
    <h1 class="display-4">Welcome</h1>
    <p>Start using Company Structure! <a asp-controller="CompanyStructure">Here</a></p>
</div>
